@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}


<div class="row">

    <div class="col-md-6">
       
            <img src="https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500" width="100%" style="border-radius:17px" />
        
    </div> 

    <div class="col-md-6 text-center">
        <h1 style="display:inline">@ViewData["Title"]</h1><span style="font-weight: 100; color: #009EF350;font-size:3em"> | </span><img src="/img/login-orange.png" />
        <section>
            <form id="account" method="post">
                @*<hr />*@
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group offset-md-2 col-md-8" >
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" style="background-color: #009EE350"  />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group offset-md-2 col-md-8">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" style="background-color: #009EE350"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <br />
                @*<div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>*@
                
                @*<div>
                    <label>
                        <input type="checkbox" />
                        Jag samtycker till att mina personuppgifter hanteras enligt GDPR    
                    </label>
                </div>*@
                <br />
                <div class="form-group text-center" >
                    <button type="submit" class="btn" style="background-color: #009EE350">Logga in</button>
                </div>
                <hr style="height: 2px; width:190px; border: none; background-color: #009EF350;">
                <div class="form-group text-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" style="color:black;">Har du glömt lösenord?</a>
                    </p>
                    @*<p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>*@
                    @*<p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
